
<div class="card text-center position-absolute top-50 start-50 translate-middle mt-1" style="margin-top: 30%; margin-bottom:30%; width: 50%;" >
  <div class="card-header">
    <br>
    <p class="fw-bolder font-monospace text-center fs-5"> Calculadora de desconto por porcentagem </p>
      </div>

{{!-- area com conteudo --}}

<ul class="nav nav-tabs" id="myTab" role="tablist">
 
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

<div class="col-md">
  {{!-- Dados da conta --}}
                <div class="row g-3">
          <div class=" col input-group mb-1 w-50 p-3" >
              <span class="input-group-text">R$</span>
                  <input id="valor_inicial" type="number" class="form-control" placeholder="Valor do produto" aria-label="Valor do produto" aria-describedby="basic-addon1">
          </div>
          <div class=" col input-group mb-1 w-50 p-3" >
            <span class="input-group-text">%</span>
                  <input id="decimal" type="number" class="form-control" placeholder="Porcentagem de desconto" aria-label="porcentagem de desconto" aria-describedby="basic-addon1">
          </div>
</div>

{{!-- Botão calcular --}}
                <div class="input-group mb-3 d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-primary" onclick="calcular()" >Calcular</button>
                </div>
{{!-- Resultado --}}

 <div class="input-group mb-3 w-50"  style="margin-left: 25% ; margin-right: 25%;" >
      <p class="text-center fs-6 text fw-normal lh-1" style="margin-top: 5%; margin-right: 15%; margin-left: 6%; ">Valor do desconto</p>
            <p class="text-center fs-6 text fw-normal lh-1" style="margin-top: 5%; ">Valor com desconto</p>

                </div>

                <div class="input-group mb-3 w-50"  style="margin-left: 25% ; margin-right: 25%;" >
                  <input id="valor_desconto" type="text" style="text-align: center; " class="form-control" placeholder="Valor do desconto" aria-label="Lucro burto" aria-describedby="basic-addon1" readonly>
                  <input id="valor_final" type="text" style="text-align: center;" class="form-control" placeholder="Valor com desconto" aria-label="Margem de lucro" aria-describedby="basic-addon1" readonly>
                </div>


</div>

  </div> 

  </div>


</div>

{{!-- fim da area com conteudo --}}

</div>

<script>
    function calcular(){
        var valor_inicial = document.getElementById("valor_inicial").value
        var decimal = document.getElementById("decimal").value
        var porcentagem = decimal / 100
        document.getElementById("valor_desconto")
            .value = (valor_inicial * porcentagem).toFixed(2)
         
        var valor_desconto = valor_inicial * porcentagem
        document.getElementById("valor_final")
            .value  = (valor_inicial - valor_desconto).toFixed(2)
    }
</script>


