<div style="margin-top: 10%; margin-bottom: 5%;" class="container-sm text-center">
  <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-2">

    <div onclick="cartaoF()" style="cursor: pointer;" class="col">
      <div class="p-3 border bg-light escurece m_esc "  style="height: 100%; width: 100%">
        <A href="/tools/cartao" class="  fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Melhor dia para cartão <img src="/images/cartao.svg" style="width: 70%; height: 70%;" class="img-fluid " alt="...">
        </A>
      </div>
    </div>
    <div class="col" onclick="regraF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light escurece m_esc " style="height: 100%; width: 100%">
        <A href="/tools/regra" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Calculador de regra de 3 simples <img src="/images/regra.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
    </div>
    <div class="col" onclick="porcentagem2()" style="cursor: pointer;" >
      <div class="p-3 border bg-light  escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/porcentagem1" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Porcentagem: valor sobre valor <img src="/images/porcentagem.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
    </div>
    <div class="col" onclick="horaF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light  escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/hora" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Calculadora de hora extra <br>
          <img src="/images/hora.png" style="width: 70%; height: 70%;" class="img-fluid aumentar ">
        </A>
      </div>
      </A>
    </div>
    <div class="col" onclick="compostoF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light  escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/composto" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Calculadora de juros composto <img src="/images/composto.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
      </A>
    </div>
    <div class="col" onclick="simplesF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/simples" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Calculadora de juros simples <img src="/images/simples.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
      </A>
    </div>
    <div class="col" onclick="descontoF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light  escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/desconto" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Calculadora de desconto <img src="/images/desconto.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
      </A>
    </div>
    <div class="col" onclick="lucroF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light  escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/lucro" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Calculadora de margem de lucro <img src="/images/lucro.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
      </A>
    </div>
    <div class="col" onclick="inssF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light  escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/inss" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Calculadora de desconto do INSS 
          <img src="/images/inss.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
      </A>
    </div>
    <div class="col" onclick="cnpj()" style="cursor: pointer;" > 
      <div class="p-3 border bg-light  escurece m_esc" style="height:  100%; width: 100%">
        <A href="/tools/cnpj" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Ferramenta de consulta de CNPJ <img src="/images/cnpj.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
      </A>
    </div>
    <div class="col" onclick="mensagemF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light  escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/mensagem" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Mensagem autodestrutiva <img src="/images/mensagem.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
      </A>
    </div>
    <div class="col" onclick="moedasF()" style="cursor: pointer;" >
      <div class="p-3 border bg-light  escurece m_esc" style="height: 100%; width: 100%">
        <A href="/tools/moedas" class=" fw-semibold fs-4 text text-decoration-none text-reset" style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Conversor de moedas <img src="/images/moedas.png" style="width: 70%; height: 70%;" class="img-fluid ">
        </A>
      </div>
      </A>
    </div>

  </div>
</div>


